apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: { { .Values.namespace } }
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush         1
        Daemon        off
        Log_Level     info
        Parsers_File  parsers.conf
        HTTP_Server   On
        HTTP_Listen   0.0.0.0
        HTTP_Port     2020

    [INPUT]
        Name              tail
        Path              /app/logs/*.log
        Tag               app.log
        Parser            json
        Mem_Buf_Limit     5MB

    [OUTPUT]
        Name              stdout
        Match             *
  parsers.conf: |
    [PARSER]
        Name   json
        Format json
        Time_Key time
        Time_Format %Y-%m-%dT%H:%M:%S.%L%z
